.short-div {
    height:240px;
    border-bottom: 5px solid grey;
  }
  .short-div h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .short-div h2{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-weight: bold;
  }
  .short-div-mid{
    height: 720px;
    border-bottom: 5px solid grey;
  }
  
  .short-div-mid h1 {
    font-size: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .short-div-mid h2 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-weight: bold;
  }
  .short-div-mid h3 {
    padding-top:20px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
      font-size: 10rem;
  }
  
  @media only screen and (min-width: 600px) and (max-width: 900px) {
      h1 {
          font-size: 6rem;
      }
      .short-div {
          height:200px;
          border-bottom: 5px solid grey;
      }
      .short-div-mid{
          height: 600px;
          border-bottom: 5px solid grey;
      }
      .short-div-mid h1 {
          font-size: 10rem;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .short-div-mid h3 {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }
  
  @media only screen and (max-width: 600px) {
      /* For mobile phones: */
      .short-div-mid{
          display: none;
          height: 240px;
          border-bottom: 5px solid grey;
      }
      .short-div-mid h1 {
          font-size: 8rem;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .short-div-mid h2 {
          font-size: 25px;
          display: flex;
          justify-content: center;
          padding-top: 5px;
          font-weight: bold;
      }
      .short-div-mid h3 {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }